/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

  body {padding-top:72px;}
  #hd {background:#fff;}
  #hd h1 {font-family:Signerica;}
  #hd h1 small {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
  #hd header {position:fixed;}
  .hentry, .pagination {margin-bottom:72px;}
  .post-content img {height:auto;max-width:100%;width:auto;}
  a[rel='footnote']:before {content:'['}
  a[rel='footnote']:after {content:']'}

  /**
   * Responsive Video
   * Courtesy of http://webdesignerwall.com/tutorials/css-elastic-videos
   */
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 9px;
  }

  .video-container iframe,  
  .video-container object,  
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body {padding-top:54px;}
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    body {padding-top:36px;}
    #hd header {position:static;}
    #mainmenu li {display:inline;padding-right:1em;}
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
  }

/* #Font-Face
================================================== */

  @font-face {
    font-family: Signerica;
    src: url('fonts/signerica.eot');
    src: url('fonts/signerica.eot?iefix') format('eot'),
         url('fonts/signerica.woff') format('woff'),
         url('fonts/signerica.ttf') format('truetype'),
         url('fonts/signerica.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
  }
